<style type="text/css">

/* Tags */

h1 {
    text-align: left;
    color: darkblue;
}

/* classes */

.header {
    background-color: antiquewhite;
}

.header h1 {
    color: brown;
}

.mainarea {
    background-color: beige;
}

.footer {
    background-color: darkblue;
    color: whitesmoke;
}


/* image height for catalog */
.catalog_image {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
    width: 160px;
}

/* marker for the main menu */
.main_marker {
    list-style-type:square;
}

/* for all paragraphes */
p {
    color: RGB(80, 40, 10);
    font-family: Verdana;
    font-size: 14px;
}

</style>
