<style type="text/css">

/* Tags */

p {
    color: RGB(80, 40, 10);
    font-family: Verdana, Arial;
    font-size: 14px;
}

li {
    color: darkorange;
    font-family: Verdana, Arial;
    font-size: 12px;
}

h1 {
    text-align: left;
    color: darkblue;
}

a:hover {
    color: darkgoldenrod;
}

img:hover {
    border-color: orange;
}

/* classes */

.myfeedback input[type="text"] {
    font-family: Arial, Verdana;
    font-size: 12px;
    color: dimgrey;
    text-transform: capitalize;
}

.mainarea tr:nth-child(odd){
    background-color: bisque;
}

.mainarea tr:nth-child(even){
    background-color: burlywood;
}

.table_main_menu td {
    padding-right: 30px;
}

.mainarea table {
    color: RGB(80, 40, 10);
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;    
}

.mainarea td {
    padding-right: 24px;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;    
}

.smalltext {
    font-size: 0.8em;
    color: gainsboro;
}

.header {
    background-color: antiquewhite;
}

.header h2 {
    color: brown;
}

.mainarea {
    background-color: beige;
}

.footer {
    background-color: #2F2F2F;
    color: whitesmoke;
}

.catalog_image {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
    width: 160px;
}

.product_image {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
    width= 320px;
}

.main_page {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
}

</style>
