<style type="text/css">

* {
    padding: 0px;
    margin: 0px;
}

/* classes */

.header {
    background-color: antiquewhite;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.header h2 {
    color: brown;
}

.header a:hover {
    color: darkgoldenrod;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container div {
    width: 240px;
    height: 240px;    
}

.myfeedback input[type="text"] {
    font-family: Arial, Verdana;
    font-size: 12px;
    color: dimgrey;
    text-transform: capitalize;
}

.mainarea {
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: beige;
    
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
}

.mainarea li {
    color: darkorange;
    font-family: Verdana, Arial;
    font-size: 14px;
}

.mainarea p {
    color: RGB(80, 40, 10);
    font-family: Verdana, Arial;
    font-size: 14px;
}

.mainarea tr:nth-child(odd){
    background-color: bisque;
}

.mainarea tr:nth-child(even){
    background-color: blanchedalmond;
}

.table_main_menu td {
    padding-right: 30px;
}

.mainarea table {
    color: RGB(80, 40, 10);
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;    
}

.mainarea td {
    padding-right: 24px;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;    
}

.mainarea a:hover {
    color: blueviolet;
}

.mainarea img:hover {
    border-color: orange;
}

.smalltext {
    font-size: 0.8em;
    color: gainsboro;
}

.price_desc {
    font-size: 0.9em;
}

.footer {
    background-color: #2F2F2F;
    color: whitesmoke;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

.catalog_image {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
    width: 160px;
}

.product_image {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
    width: 360px;
}

.main_page {
    border-style: solid;
    border-width: medium;
    border-color: darkkhaki;
}

.image_detail {    
    width: 360px;
    height: 240px;
    margin-bottom: 40px;
    margin-right: 40px;
    float: left;
}

.short_detail {    
    width: 360px;
    height: 240px;
    float: left;
}

h3 {
    clear: both;
}

</style>
